<div class="center jumbotron">
  <h1>Welcome to the Bill app</h1>

  <h2>
    This is the home page for the bill application.
  </h2>

  <%= link_to "Customers", 'customers#index', class: "btn btn-lg btn-primary" %>
  <%= link_to "Activities", 'activities#index', class: "btn btn-lg btn-primary" %>
  <%= link_to "Bills", 'bills#index', class: "btn btn-lg btn-primary" %>

</div>
